= semantic_form_for @repository do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, label: 'Name'
    - if @repository.new_record?
      = f.input :url, label: 'URL to repository', hint: 'I recommend using http(s)'
    - else
      = f.input :url, label: 'URL to repository', hint: 'I recommend using http(s)', input_html: { disabled: true }

  = f.actions do
    = f.action :submit, label: 'Save'
